body {
  background-color: #000;
  background-image: linear-gradient(to bottom, #111, #000); 
  color: #fff; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.poster-zoom {
  overflow: hidden;
  position: relative;
}

.poster-zoom img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.poster-zoom img:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.poster-zoom img:hover {
  cursor: pointer;
}

.movie-description {
  font-size: 16px;
  color: #393E46; 
  margin-bottom: 10px;
}

.movie-details {
  font-size: 14px;
  color: #99ccff; 
}

.add-list-style{
background-color: #687EFF;

}

.watch-online-style{
  background-color: #007F73;
  
  }

.class-p p {
  font-size: 16px;
  margin-bottom: 10px;
}

.class-p p strong {
  color: #FF204E; 
}

.class-p  p a {
  color: #ffcc00; 
  text-decoration: none; 
  font-weight: bold;
}

.class-p p a:hover {
  color: #ff9900; 
}


